name: CD - Deploy to ECS Fargate

on:
  workflow_dispatch:
    inputs:
      image_uri:
        description: "ECR image URI from CI"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply (Update ECS Task)
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="docker_image=${{ github.event.inputs.image_uri }}"

