name: CD - Deploy to ECS Fargate

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Download image URI artifact
        uses: actions/download-artifact@v4
        with:
          name: image-uri

      - name: Load image URI
        run: |
          IMAGE_URI=$(cat image_uri.txt)
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply (Deploy New Image)
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
            -var="docker_image=$IMAGE_URI"
