name: CI - Build & Push to ECR

on:
  push:
    branches:
      - main

env:
  AWS_REGION: ap-south-1
  ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_uri: ${{ steps.build-image.outputs.image_uri }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag & push image to ECR
        id: build-image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          ACCOUNT_ID=${{ secrets.ACCOUNT_ID }}

          IMAGE_URI=$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG
          IMAGE_URI_LATEST=$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest

          docker build -t $IMAGE_URI .
          docker tag $IMAGE_URI $IMAGE_URI_LATEST

          docker push $IMAGE_URI
          docker push $IMAGE_URI_LATEST

          echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT
